:root {
  --black: #0c0c0c;
  --darkgrey: #222020;
  --darkgrey: #222020;
  --blue: rgba(0, 104, 248, 1);
  --white: rgba(255, 255, 255, 1);
  --dark-blue: rgba(32, 79, 181, 1);
  --wide-font: 'HelveticaCompressed';
}

@font-face {
  font-family: 'HelveticaCompressed';
  src: url('assets/fonts/Helvetica\ LT\ Compressed.woff2') format('woff2');
  src: url('assets/fonts/Helvetica\ LT\ Compressed.woff') format('woff');
}

nav ul {
  list-style: none;
  /* Remove the default list bullets */
  padding: 0;
  /* Remove any default padding */
  margin: 0;
  /* Remove any default margin */
}

.social-media-list ul {
  list-style: none !important;
  /* Remove the default list bullets */
  padding: 0;
  /* Remove any default padding */
  margin: 0;
  /* Remove any default margin */
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-weight: 500;
  align-items: center;
}

body>footer>ul {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 5px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav li,
.social-media-list li {}

.nav a {
  text-decoration: none;
  font-weight: 500;
  /* Remove underline from anchor links */
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue);
  text-decoration-thickness: 2px;
  color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  font-family: inherit;
  color: white;
  text-underline-offset: 6px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Rajdhani', sans-serif;
  background-color: #0c0c0c;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #0c0c0c;
  padding: 15px 75px;
  border-bottom: 1px solid #222020;
  transition: top 0.3s;
  /* Add smooth transition for better user experience */
}

.sticky {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 1000;
  /* Set a high z-index to ensure it appears above other elements */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow for a visual effect */
}

/* Add a padding to the body when the header becomes sticky to prevent content overlap */
body.sticky-header-padding {
  padding-top: 75px;
  /* Adjust this value based on your header's height */
}

section {
  padding: 0px 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.hero {
  padding: 0px 0px!important;
  margin: 0;
}

.header .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  transition: 0.4;
}

.header .logo-wrapper:hover {
  opacity: 0.4;
}

.header .logo {
  position: relative;
  width: 40px;
  height: 40px;
}

.header .logo-text {
  position: relative;
  width: 110px;
  height: 20px;
}

.header .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  position: relative;
  flex: 1;
  text-transform: uppercase;
  flex-grow: 1;
}

.header .div {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-weight: 600;
  color: #171717;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.header .button-wrapper {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 60px;
  padding: 10px 20px;
  position: relative;
  background-color: var(--blue);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s;
  text-decoration: none !important;
}

.button-primary:hover {
  background-color: var(--dark-blue);
  text-decoration: none;
}

.button-primary .text-wrapper {
  position: relative;
  text-decoration: none;
  width: fit-content;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.hero-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 50px;
  position: relative;
  height: 50vh;
  /* or adjust this value as needed */
  border-radius: 20px;
  justify-content: center;
}

.overlap-group .text-wrapper {
  color: #FFF;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  /* 93.75% */
}

.flex-container {
  display: flex;
  gap: 10px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.flex-container-column img {
  height: 350px !important;
}


.full-width-container {
  display: flex;
  flex: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.image-container-hero {
  flex: 1;
  position: relative;
  transition: filter 0.2s;
  overflow: hidden;
  width: 100%;
  /* Take up full width */
}

.image-container-hero img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.image-flex-column {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.text-overlay-hero {
  position: absolute;
  bottom: 50%;
  /* Align text in the middle */
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
  z-index: 2;
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.image-container {
  position: relative;
  flex: 1;
  transition: filter 0.7s;
  overflow: hidden;
}

.image-container img,
.image-container-hero img {
  transition: transform 0.7s ease-out;
  /* Apply transition to the image */
}

.image-container:hover {
  outline: 5px solid var(--blue);
}

.image-container:hover img {
  filter: grayscale(1);
  transform: scale(1.1);
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  /* Adjust gradient as needed */
  pointer-events: none;
  /* Ensure the pseudo-element doesn't interfere with mouse events */
}




.hero-image-wrapper::before img {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  /* Adjust gradient as needed */
}




.image-container img {
  min-width: 400px;
  height: 250px;
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  /* Adjust the text color */
  padding: 10px;
  margin: 0;
  color: #FFF;
  z-index: 2;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-overlay-hero {
  color: #FFF;
  text-align: center;
  font-size: 84px;
  font-style: normal;
  line-height: 72px;
  /* 93.75% */
}

.dare-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 75px 0px;
  gap: 50px;
  align-items: center;
}

.dare-subtitle {
  color: var(--BLUE, #0068F8);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 100% */
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.dare-subtitle-inherit {
  color: inherit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 100% */
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.dare-heading-front {
  color: inherit;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
}

.dare-heading {
  color: inherit;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.dare-heading-left {
  color: inherit;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  padding-top: 30px;
  text-align: left;
  padding-bottom: 30px;
}

iframe {
  border-radius: 20px;
}


footer {
  background-color: var(--black);
  border-top: 1px solid var(--darkgrey);
  display: flex;
  color: white;
  padding: 50px 75px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}

.footer-logo-wrapper {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
}

.footer-logo-wrapper img {
  height: 40px;
  widtH: 40px;
}

.footer-text-wrapper {
  color: white;

}

.footer-logo-text {
  font-size: 20px;
  font-weight: 600;
}

.dare-product-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 325px;
  outline: 1px solid #DCDCDC;
  overflow: hidden;
  background-color: white;
  width: calc(25% - 10px);
  transition: background-color 0.3s;
}

.dare-product-wrapper:hover {
  background: rgba(0, 104, 248, 0.30);
  outline-color: rgba(0, 104, 248, 0.30);
}

.dare-product-wrapper img {}

.dare-products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-meta {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.product-price {
  font-size: 18px;
  opacity: 0.4;
}

.product-meta-wrapper {
  padding: 25px;
}

.text-heading-section {
  color: #171717;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 66px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  section {
    padding: 0px 10px;
  }

  .member-icon-wrapper {
    width: calc(100% - 70px)!important;
  }

  .flex-container-dare {
    flex-direction: column;
  }

  .text-overlay-hero {
    font-size: 28px;
    line-height: 32px;
  }

  .image-container-hero img {
    height: 250px;
  }

  .flex-container {
    gap: 5px;
    flex-direction: column;
  }

  .image-flex-column {
    gap: 5px;
    flex-direction: row;
  }

  .image-container img {
    height: 300px;
    width: 100%;
  }

  .text-overlay {
    font-size: 18px;
    bottom: 4px;
    left: 4px;
  }

  body {
    gap: 5px;
  }

  .dare-product-wrapper {
    width: calc(50% - 5px);
  }

  .dare-products {
    gap: 10px;
  }

  .product-meta-wrapper {
    padding: 10px;
  }

  .dare-product-wrapper {
    min-height: 275px;
  }

  .dare-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dare-heading {
    font-size: 36px;
    line-height: 48px;
  }

  .mobile-hidden {
    display: none;
  }

  .header {
    padding: 10px;
  }

  .header .button-wrapper {}

  .header .logo-text {
    display: none !important;
  }

  .header .nav ul {
    gap: 20px;
    font-size: 18px;
  }

  .button-primary {
    min-width: 40px;
  }

  .header .text-wrapper {
    display: none;
  }

  .header .nav {
    flex: none;
  }

  footer {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    margin-top: 40px;
  }

  body>footer>ul {
    display: none;
  }
}


.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-16 23:20:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

}

.member-name {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.member-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.4;
}

.members-wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dare-member-wrapper {
  width: calc(25% - 25px);
}

.dare-member-wrapper img {
  object-fit: cover;
  height: 40vh;
  width: 100%;
  border-radius: 20px;
}

@media only screen and (max-width: 1024px) {
  .dare-member-wrapper {
    width: calc(50% - 10px);
  }

  .caption {
    font-size: 30px!important;
    line-height: 30px!important;
  }

  .slide {
    height: 300px!important;
  }

  .dare-member-wrapper img {
    height: 200px;
  }

  .members-wrapper {
    gap: 10px;
  }

  .member-name {
    font-size: 20px;
    line-height: 24px;
  }

  .left-content-wrapper,
  .right-content-wrapper {
    width: 100% !important;
  }
}

.social-media-list li {
  transition: opacity 0.3s ease;
  /* Add a smooth transition effect */
}

.social-media-list li:hover {
  opacity: 0.5;
  /* Adjust the opacity value as needed */
  text-decoration: underline;
}

.left-content-wrapper,
.right-content-wrapper {
  width: 50%;
}

.blue-section {
  background-color: var(--blue);
  color: white !important;
}

.left-content-wrapper img,
.right-content-wrapper img {
  width: 100%;
  height: 100%;
}

.error-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 75vh;
}

.dare-footer-text {
  color: inherit;
  font-size: 18px;
  text-underline-offset: 2px;
  margin: 0;
  padding: 0;
}

.dare-footer-heading {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue);
}

.dare-footer-heading-white {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.footer-logo-outer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Style the dropdown button */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

/* Style the dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: 250px;
  border-bottom: 5px solid var(--blue);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: flex;
  gap: 12px;
  z-index: 1;
  font-weight: normal;
  text-decoration: none!important;
  align-items: center;
  border-bottom: 1px solid var(--darkgrey);
}

.dropdown-content iconify-icon {
  color: white;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  display: flex;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: var(--darkgrey);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.member-icon-wrapper {
  display: flex;
    gap: 8px;
    width: calc(50% - 70px);
    padding: 30px;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url('background-normal-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 150px;
    border-radius: 15px;
    font-size: 32px;
    font-weight: 800;
    border: 1px solid var(--darkgrey);
    transition: background 0.3s, box-shadow 0.3s;
}

.member-icon-wrapper iconify-icon {
  font-size: 30px;
    padding: 10px;
    border-radius: 600px;
    background: var(--blue);
}

.member-icon-wrapper:hover iconify-icon {
}

.member-icon-wrapper:hover {
  background-image: url('background-hover-image.jpg');
  color: white;

  box-shadow: 0 0 0 5px var(--black);
  /* Add box-shadow for outline */
}


.flex-container-dare {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cta-button-text {
  font-size: 20px;
  font-weight: 400;
  display: none;
  align-items: center;
  transform: scale(0);
  transition: transform 0.2s;
}

.member-icon-wrapper:hover .cta-button-text {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.2s;
  display: flex;
}

#slider-container {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 500px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
    font-size: 84px;
    font-style: normal;
    line-height: 72px;
    font-weight: 700;
    width: 75%;
}

#cta-button {
  position: absolute;
  top: calc(60% + 5px); /* Adjusted to include a 5px gap */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  font-size: 16px;
  background-color: var(--darkgrey);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: 600;
}

#cta-button:hover {
  background-color: var(--black);
  color: white;
}

.logo-download-container {
  height: 100%;
  width: calc(25% - 100px);
  padding: 100px;
  display: flex;
  gap: 30px;
  border: 1px solid var(--darkgrey);
  flex-direction: column;
}

.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  border: none;
  min-width: 60px;
  padding: 10px 20px;
  position: relative;
  background-color: var(--blue);
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s;
  text-decoration: none !important;
}

.download-btn:hover {
  background-color: var(--dark-blue);
  text-decoration: none;
}

.dare-download {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.download-wrapper {
  display: flex;
  gap: 20px;
}