:root {
    --black: rgba(17, 18, 18, 1);
    --blue: rgba(0, 104, 248, 1);
    --white: rgba(255, 255, 255, 1);
    --dark-blue: rgba(32, 79, 181, 1);
}

nav ul {
  list-style: none; /* Remove the default list bullets */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
}

.social-media-list ul {
  list-style: none!important; /* Remove the default list bullets */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
}

nav ul {
  display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

body > footer > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav li, .social-media-list li {

}

.nav a {
  text-decoration: none; /* Remove underline from anchor links */
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
    font-family: Poppins, sans-serif;
    text-underline-offset: 6px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dadada;
    padding: 15px 50px;
    transition: top 0.3s; /* Add smooth transition for better user experience */
}

.sticky {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a visual effect */
}

/* Add a padding to the body when the header becomes sticky to prevent content overlap */
body.sticky-header-padding {
    padding-top: 75px; /* Adjust this value based on your header's height */
}

section {
    padding: 0px 50px;
    margin: 0;
}

.header .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    transition: 0.4;
}

.header .logo-wrapper:hover {
  opacity: 0.4;
}

.header .logo {
    position: relative;
    width: 40px;
    height: 40px;
}

.header .logo-text {
    position: relative;
    width: 110px;
    height: 30px;
}

.header .text-wrapper {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins";
    font-weight: 600;
    color: #171717;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .div {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #171717;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.header .button-wrapper {
    justify-content: flex-end;
    gap: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s;
    text-decoration: none!important;
}

.button-primary:hover {
  background-color: var(--dark-blue);
  text-decoration: none;
}

.button-primary .text-wrapper {
    position: relative;
    text-decoration: none;
    width: fit-content;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.hero-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px 50px;
    position: relative;
    height: 50vh; /* or adjust this value as needed */
    border-radius: 20px;
    justify-content: center;
}

.overlap-group .text-wrapper {
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: 90px; /* 93.75% */
}

.flex-container {
    display: flex;
    gap: 25px;
  }

  .full-width-container {
    display: flex;
    flex: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.image-container-hero {
    flex: 1;
    position: relative;
    transition: filter 0.2s;
    border-radius: 20px;
    overflow: hidden;
    width: 100%; /* Take up full width */
}

.image-container-hero img {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.text-overlay-hero {
    position: absolute;
    bottom: 50%; /* Align text in the middle */
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    z-index: 2;
    color: white;
    padding: 10px;
    margin: 0;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


  .image-container {
    position: relative;
    flex: 1;
    transition: filter 0.2s;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .image-container img, .image-container-hero img {
    transition: transform 0.5s ease-out; /* Apply transition to the image */
  }
  
  .image-container:hover {
    outline: 2px solid var(--blue);
  }
  
  .image-container:hover img {
    filter: grayscale(1);
    transform: scale(1.1);
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Adjust gradient as needed */
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with mouse events */
  }
  

  .hero-image-wrapper::before img {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Adjust gradient as needed */
  }
  
  
  

  .image-container img {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.blue-section {
  background-color: var(--blue);
  color: white;
}

  .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white; /* Adjust the text color */
    padding: 10px;
    margin: 0;
    color: #FFF;
    z-index: 2;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .text-overlay-hero {
    color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 90px; /* 93.75% */
  }

  .dare-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
    gap: 50px;
    align-items: center;
  }

  .dare-subtitle {
    color: var(--BLUE, #0068F8);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 100% */
letter-spacing: -1px;
padding-bottom: 10px;
  }

  .dare-heading {
    color: #171717;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px;
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
  }

  iframe {
    border-radius: 20px;
  }


  footer {
    background-color: var(--blue);
    display: flex;
padding: 75px 50px;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 25px;
  }

  .footer-logo-wrapper {
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
  }

  .footer-logo-wrapper img {
 height: 40px;
 widtH: 40px;
  }

  .footer-text-wrapper {
    color: white;
    
  }

  .footer-logo-text {
    font-size: 20px;
    font-weight: 600;
  }

  .dare-product-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 325px;
    outline: 1px solid #DCDCDC;
    overflow: hidden;
    background-color: white;
    width: calc(25% - 25px);
    transition: background-color 0.3s;
  }

  .dare-product-wrapper:hover {
    background: rgba(0, 104, 248, 0.30);
    outline-color: rgba(0, 104, 248, 0.30);
  }

  .dare-product-wrapper img {
    
  }

  .dare-products {
    display: flex;
    gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  .product-meta {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .product-price {
    font-size: 18px;
    opacity: 0.4;
  }

  .product-meta-wrapper {
    padding: 25px;
  }

  .text-heading-section {
    color: #171717;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 66px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media only screen and (max-width: 1024px) {
    section {
      padding: 0px 10px;
    }
    .text-overlay-hero {
      font-size: 28px;
      line-height: 32px;
    }
    .image-container-hero img {
      height: 250px;
    }
    .flex-container {
      gap: 5px;
    }
    .image-container img {
      height: 200px;
    }
    .text-overlay {
      font-size: 18px;
      bottom: 4px;
      left: 4px;
    }
    body {
      gap: 5px;
    }
    .dare-product-wrapper {
      width: calc(50% - 5px);
    }
    .dare-products {
      gap: 10px;
    }
    .product-meta-wrapper {
      padding: 10px;
  }
  .dare-product-wrapper {
  min-height: 275px;
}
.dare-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dare-heading {
  font-size: 36px;
  line-height: 48px;
}
.mobile-hidden {
  display: none;
}
.header {
  padding: 10px;
}
.header .button-wrapper {
}
.header .logo-text {
  display: none!important;
}
.header .nav ul {
gap: 10px;
}
.header .text-wrapper {
  display: none;
}
.header .nav {
  flex: none;
}
footer {
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  margin-top: 40px;
}

body > footer > ul {
  display: none;
  }
  }


  .fade-in-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-1-16 23:20:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.member-name {
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.member-title {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.members-wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dare-member-wrapper {
  width: calc(33% - 25px);
}

.dare-member-wrapper img {
  width: 100%;
  border-radius: 20px;
}