:root {
    --black: rgba(17, 18, 18, 1);
    --blue: rgba(0, 104, 248, 1);
    --white: rgba(255, 255, 255, 1);
    --dark-blue: rgba(32, 79, 181, 1);
}


* {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dadada;
    padding: 25px 50px;
    margin-bottom: 25px;
}

section {
    padding: 0px 50px;
    margin: 0;
}

.header .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .logo {
    position: relative;
    width: 50.65px;
    height: 50px;
}

.header .logo-text {
    position: relative;
    width: 110px;
    height: 30px;
}

.header .text-wrapper {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #171717;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .div {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #171717;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.header .button-wrapper {
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.button-primary {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 30px;
    position: relative;
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
}

.button-primary .text-wrapper {
    position: relative;
    width: fit-content;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.hero-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px 50px;
    position: relative;
    height: 50vh; /* or adjust this value as needed */
    border-radius: 20px;
    justify-content: center;
}

.overlap-group .text-wrapper {
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: 90px; /* 93.75% */
}

.flex-container {
    display: flex;
    gap: 25px;
  }

  .full-width-container {
    display: flex;
    flex: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.image-container-hero {
    flex: 1;
    position: relative;
    transition: filter 0.2s;
    border-radius: 20px;
    overflow: hidden;
    width: 100%; /* Take up full width */
}

.image-container-hero img {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.text-overlay-hero {
    position: absolute;
    bottom: 50%; /* Align text in the middle */
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    z-index: 2;
    color: white;
    padding: 10px;
    margin: 0;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


  .image-container {
    position: relative;
    flex: 1;
    transition: filter 0.2s;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .image-container img, .image-container-hero img {
    transition: transform 0.5s ease-out; /* Apply transition to the image */
  }
  
  .image-container:hover {
    outline: 2px solid var(--blue);
  }
  
  .image-container:hover img {
    filter: grayscale(1);
    transform: scale(1.1);
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Adjust gradient as needed */
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with mouse events */
  }
  

  .hero-image-wrapper::before img {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Adjust gradient as needed */
  }
  
  
  

  .image-container img {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.blue-section {
  background-color: var(--blue);
  color: white;
}

  .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white; /* Adjust the text color */
    padding: 10px;
    margin: 0;
    color: #FFF;
    z-index: 2;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .text-overlay-hero {
    color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 90px; /* 93.75% */
  }

  .dare-wrapper {
    display: flex;
    gap: 50px;
    padding: 50px 100px;
    align-items: center;
  }

  .dare-subtitle {
    color: var(--BLUE, #0068F8);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 100% */
letter-spacing: -1px;
  }

  .dare-heading {
    color: #171717;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 66px; /* 113.793% */
  }

  iframe {
    border-radius: 20px;
  }


  footer {
    background-color: var(--blue);
    display: flex;
padding: 75px 50px;
flex-direction: column;
justify-content: center;
align-items: center;
  }

  .footer-logo-wrapper {
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
  }

  .footer-text-wrapper {
    color: white;
    
  }

  .footer-logo-text {
    font-size: 20px;
    font-weight: 600;
  }

  .dare-product-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    min-height: 325px;
    outline: 1px solid #DCDCDC;
    overflow: hidden;
    background-color: white;
    width: calc(25% - 25px);
    transition: background-color 0.3s;
  }

  .dare-product-wrapper:hover {
    background-color: #DCDCDC;
  }

  .dare-product-wrapper img {
    
  }

  .dare-products {
    display: flex;
    gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  .product-meta {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  .product-price {
    text-align: center;
    font-size: 18px;
  }

  .product-meta-wrapper {
    padding: 25px;
  }